# MongoDB Python Driver for interacting with MongoDB
pymongo
# Pytest for running unit tests
pytest
# MongoMock for mocking MongoDB operations in unit tests
mongomock
# Fuzz testing integration
python-afl
faker
# Matplotlib for visualization
matplotlib
# dnspython is required when using MongoDB with DNS SRV records (e.g., with MongoDB Atlas)
dnspython
# PyYAML is useful for handling configuration files in YAML format (e.g., for Kubernetes manifests)
PyYAML
# Kubernetes Python Client (Optional: If you need to interact with Kubernetes clusters programmatically)
kubernetes
# Others
yaspin
