# MongoDB Python Driver for interacting with MongoDB
pymongo
# Pytest for running unit tests
pytest
# MongoMock for mocking MongoDB operations in unit tests
mongomock
# Fuzz testing integration
atheris
faker
# Matplotlib for visualization
matplotlib
# dnspython is required when using MongoDB with DNS SRV records
dnspython
# PyYAML is useful for handling configuration files in YAML format
PyYAML
# Kubernetes Python Client
# others
yaspin
